.create-content-form {
  width: 70%;
  margin-left: 20px;
  margin: 30px;
}
.create-content-button {
  margin-left: 20px;
  margin: 30px;
}
.div {
  margin-left: 20px;
  margin: 30px;
}
.card-item {
  margin-left: 1rem;
}
