<h1 class='mt-3'>Tạo bài viết mới</h1>
{{! //style='width: 70%; margin-left: 20px' }}
<form method='POST' action='store'>
  <div class='mb-3 create-content-form'>
    <label for='article-title' class='form-label'>Tiêu đề bài viết</label>
    <input type='text' class='form-control' id='article-title' name='article-title' />
  </div>
  <div class='mb-3 create-content-form'>
    <label for='article-img' class='form-label'>Địa chỉ hình ảnh</label>
    <input type='text' class='form-control' id='article-img' name='article-img' />
  </div>
  <div class='mb-3 create-content-form'>
    <label for='article-content' class='form-label'>Nội dung bài viết</label>
    <input type='text' class='form-control' id='article-content' name='article-content' />
  </div>
  <button type='submit' class='btn btn-primary create-content-button'>Thêm bài viết</button>
</form>